<h2> <%= link_to "ClockWork", main_menu_menu_path %> </h2>
<hr>
<h1>Employee Information</h1>

<table style="max-height:500px;overflow:scroll">
  <thead>
    <tr>
      <th style="width:200px">Last Name</th>
      <th style="width:200px">First Name</th>
      <th style="width:300px">Email Address</th>
      <th style="width:200px">Phone Number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td style="width:200px;text-align:center"><%= person.last_name %></td>
        <td style="width:200px;text-align:center"><%= person.first_name %></td>
        <td style="width:300px;text-align:center"><%= person.email_address %></td>
        <td style="width:200px;text-align:center"><%= person.phone_number %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Add Employee", new_person_path %>
