<h1>Listing standard_availabilities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Monday start</th>
      <th>Monday end</th>
      <th>Tuesday start</th>
      <th>Tuesday end</th>
      <th>Wednesday start</th>
      <th>Wednesday end</th>
      <th>Thursday start</th>
      <th>Thursday end</th>
      <th>Friday start</th>
      <th>Friday end</th>
      <th>Saturday start</th>
      <th>Saturday end</th>
      <th>Sunday start</th>
      <th>Sunday end</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @standard_availabilities.each do |standard_availability| %>
      <tr>
        <td><%= standard_availability.name %></td>
        <td><%= standard_availability.monday_start %></td>
        <td><%= standard_availability.monday_end %></td>
        <td><%= standard_availability.tuesday_start %></td>
        <td><%= standard_availability.tuesday_end %></td>
        <td><%= standard_availability.wednesday_start %></td>
        <td><%= standard_availability.wednesday_end %></td>
        <td><%= standard_availability.thursday_start %></td>
        <td><%= standard_availability.thursday_end %></td>
        <td><%= standard_availability.friday_start %></td>
        <td><%= standard_availability.friday_end %></td>
        <td><%= standard_availability.saturday_start %></td>
        <td><%= standard_availability.saturday_end %></td>
        <td><%= standard_availability.sunday_start %></td>
        <td><%= standard_availability.sunday_end %></td>
        <td><%= link_to 'Show', standard_availability %></td>
        <td><%= link_to 'Edit', edit_standard_availability_path(standard_availability) %></td>
        <td><%= link_to 'Destroy', standard_availability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Standard availability', new_standard_availability_path %>
